body {
    font-family: Arial, Helvetica, sans-serif;
    
}

.btn-exp {
    /* background-color: #5399c7; */
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 30px;
    font-weight: 700;
}
.btn-exp:hover{
    cursor: pointer;
}

h1{
    font-size: 80px;
    font-weight: 750;
    list-style: 1.2;
    margin-bottom: 15px;
    color: white;
    margin-top: 180px;
}

h1::after{
    display: block;
    width: 30%;
    height: 10px;
}


h4{
    font-size: 20px;
    font-weight: 750;
    list-style: 1.2;
    margin-bottom: 35px;
    color: white;
}


video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

video::after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000 10%;
} 

.title{
    flex-direction: column;
    margin: auto;
    top: 0;
    right: 0;
    text-align: center;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 2;
}


@media screen and (max-width: 768px) {
    h1{
        font-size: 50px;
    }
    h4{
        font-size: 15px;
    }
    
}


@media screen and (max-width: 300px) {
    h1{
        font-size: 40px;
    }
    h4{
        font-size: 12px;
    }
    
}

@media screen and (max-width: 722px) {
    .minc{
        display: absolute;
    }
    
}
