*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: #ffffff;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #21262d;
}


.details{
    display: flex;
    justify-content: space-evenly;
    font-weight: 700;
    font-size: 13px;
    margin-bottom: 10px;
}

.about-section{
    background: url(/resources/orphanblack.jpeg) no-repeat left;
    background-size: 55%;
    background-color: #0d1117;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: #21262d;
    padding: 150px;
}

.inner-container h1{
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 13px;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.button1{
    background-color: #ca4f4f;
    border: none;
    padding: 10px 70px;
    border-radius: 10px;
} 

.button{
    background-color: #4a80d1;
    border: none;
    padding: 10px 50px;
    border-radius: 10px;
}

a{
    text-decoration: none;
    color: #ffffff;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }

    .grid1{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .button1{
        margin-bottom: 20px;
        padding: 10px 80px;
    }
    .button{
        margin-bottom: 20px;
        padding: 10px 67px;
    }
}