.row {
    padding: 20px;
    align-items: center;
    justify-content: center;
    
}

a{
    text-decoration: none;
    color: #ffffff;
}

*{
    font-family: Arial, Helvetica, sans-serif;

}
.column {
      border: 2px solid #21262d;
      border-radius: 10px;
      padding: 5px;
      margin: 10px;
      align-items: center;
      justify-content: center;
      background-color: #21262d;

}

.central-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.img2{
    width: 205px;
    height: auto;
    border-radius: 10px;
    margin: 20px;
}

h4{
    text-align: center;
    color: aliceblue;
    padding-top: 10px;
    margin: 0;
}
h5{
    text-align: center;
    color: aliceblue;
    margin: 5px 0 10px 0;

}
body{
    margin: 0;
    background-color: #0d1117;
}

.h1c{
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 0 ;
    padding-top: 10px;
    padding-bottom: 10px;

}

header{
    background-color: #161b22;
    color: aliceblue;
    padding: 10px;
    margin: 0;
}

@media screen and (max-width: 330px) {
    .img2{
        width: 140px;
        height: auto;
        border-radius: 10px;
    }
    
}

@media screen and (max-width: 450px) {

    .column {
        border: 2px solid #21262d;
        border-radius: 10px;
        padding: 5px;
        margin: 40px;
        align-items: center;
        justify-content: center;
        background-color: #21262d;
  
  }
}

@media screen and (min-width: 450px) {
    .row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .img2{
        width: 300px;
        height: auto;
        border-radius: 10px;
    }
}

@media screen and (min-width: 850px) {
    .row{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .img2{
        width: 200px;
        height: auto;
        border-radius: 10px;
    }
}


@media screen and (min-width: 1100px) {
    .row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;   

      }

      .img2{
        width: 200px;
        height: auto;
        border-radius: 10px;
    }
}
